h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color:white;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 750px;
    margin-bottom:0px;

}
ul {
    border:1px solid #e7e7e7;
    background: color #f3f3f3;
    
}
li a{
    color: #666666;
    float: right;

}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
body{
    padding-top: 960p;
    padding-bottom:960px;
    padding-left: 100px;
    padding-right: 100px;
}

.clearfix {

    overflow:auto;

}

p {
    float: right
    font-family: Arial, Helvetica, sans-serif;


}

img{
    float: left;
    margin-left: 0%;
    margin-top: 0px;
    margin-right:750px;
    margin-bottom:0px;


}